<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

</head>

<body>
    <table border="0" style="border-collapse: collapse; width: 100%; height: 10px">
        <tbody>
            <tr style="height: 10px">
                <td style="width: 50%; height: 10px">
                    <img src="<%= url_logo%>" width="120px" alt="logo_empresa">
                </td>
                <td style="width: 50%; height: 10px; text-align: center">
                    <p>
                        <h2><%=nombreProforma  %> </h2>
                        <p>
                            <h4>N°-<%=factura%></h4>
                        </p>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="container mt-0">
        <table>
            <tbody>
                <tr>
                    <th class="mt-0" width="50%"></th>
                    <th class="mt-0" width="50%"></th>
                </tr>
                <tr>
                    <td class="mt-0">
                        <b>Emisor:</b> <%=branch_nombre%>
                    </td>
                    <td class="mt-0">
                        <b>Cliente:</b> <%=cliente_nombre%>
                    </td>

                </tr>
                <tr>
                    <td class="mt-0"><b>N° Doc.:</b> <%= branch_documento %> </td>
                    <td> <b>N° Doc.:</b> <%= cliente_document%> </td>
                </tr>
                <tr>
                    <td><b>Dirección:</b><%=branch_address  %> </td>
                    <td class="mt-0"><b>Dirección:</b> <%=cliente_address%> </td>
                </tr>
                <tr>
                    <td> <b>Teléfono:</b><%=branch_phone  %></td>
                    <td><b>Teléfono:</b> <%= cliente_phone%> </td>
                </tr>
            </tbody>
        </table>
        <table width="100%" class="mb-0">
            <tbody>
                <tr class="">
                    <td class="border border-radius-izquierdo " width="25%"><%=nombreProforma  %> : <%=factura  %> </td>
                    <td class="border" width="25%">Forma de pago: <b>Contado</b></td>
                    <td class="border" width="25%">EXPEDIENTE: <b><%=code_master %></b> </td>
                    <td class="border border-radius-derecho" width="25%">Fecha: <b><%=fechaRegistro  %></b> </td>
                </tr>
            </tbody>
        </table>
        <table width="100%" class="mt-0">
            <thead>
                <tr class="border mt-0">

                    <th class="border mt-0" rowspan="2">BULTOS</th>
                    <th class="border mt-0" rowspan="2"> CANTIDAD</th>
                    <th class="border mt-0" rowspan="2">CONTENIDO</th>
                    <th class="border mt-0" colspan="2"> VOLUMEN/ PESO</th>

                </tr>
                <tr class="border">
                    <th class="border">MC</th>
                    <th class="border">KGS</th>
                </tr>
            </thead>
            <tbody>


                <tr class="border">
                    <td class="border"><%=bultos%> </td>
                    <td class="border"> </td>
                    <td class="border"> </td>
                    <td class="border"><%=volumen%> </td>
                    <td class="border"><%=peso%> </td>
                </tr>
                <tr class="border">
                    <td colspan="3" class="border mb-0">Consignatario <b>
                            <%=proveedor_nombre %>
                        </b></td>
                    <td colspan="4" class="border mb-0">Destino: <b>
                            <%=pais%> - <%=puerto %>
                        </b></td>
                </tr>
            </tbody>
        </table>
        <table width="100%" class="mt-0 mb-0">
            <thead>
                <tr class="mt-0">
                    <th class="border">Descripción</th>
                    <th class="border">Monto</th>
                    <th class="border"><%=tipo_imp %> </th>
                    <th class="border">Total</th>
                </tr>
            </thead>
            <tbody>
                <% if (details.length>0) {%> <% details.forEach(item=>{%>
                <tr class="border">
                    <td class="border-izquierdo">
                        <%=item.concepto  %>
                    </td>
                    <td class="">
                        <%=coins%> <%=item.monto  %> 
                    </td>
                    <td class="">
                        <%=coins%> <%=item.igv  %> 
                    </td>
                    <td class="border-derecho">
                        <%=coins%> <%=item.total  %> 
                    </td>
                </tr>
                <% }); %> <% } %>
                <tr height="30%">
                    <td colspan="4" class="border-izquierdo
                    border-derecho 
                    <%= 
                        details.length===1 ? "espacing1" : 
                        details.length ===2 ? "espacing2" : 
                        details.length ===3 ? "espacing3" : 
                        details.length ===4 ? "espacing4" : 
                        details.length ===5 ? "espacing5" : 
                        details.length ===5 ? "espacing5" : 
                        
                        "espacing" 
                        
                     %> "> </td>

                </tr>
                <tr>
                    <td class="border"><b>Total</b></td>
                    <td class="border"><%=coins%> <%=total_monto %>   </td>
                    <td class="border"><%=coins%> <%=total_igv %>   </td>
                    <td class="border"><%=coins%> <%=total %>   </td>
                </tr>
            </tbody>
        </table>


        <table class="border mt-5">
            <tbody>
                <tr>
                    <td><b>Datos Bancarios</b></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>Banco:</b></td>
                    <td><%= cuenta_descripcion%></td>
                </tr>
                <tr>
                    <td><b>Beneficiario:</b> </td>
                    <td><%= cuenta_beneficiario%> </td>
                </tr>
                <tr>
                    <td><b>N°</b></td>
                    <td><%= cuenta_numero%></td>
                </tr>
                <% if(cuenta_tienecci ==1) {
                %>
                <tr>
                    <td>
                        <b>CCI:</b>
                    </td>
                    <td>
                        <%= cuenta_cci%>
                    </td>
                </tr>
                <%
                } %>
            </tbody>
        </table>

    </div>
</body>

</html>

<style>
    * {
        box-sizing: border-box;
        font-size: 0.8rem;
        margin: 1mm;

    }

    table {
        border-collapse: separate;
    }

    th,
    td {
        padding: 2mm;

    }

    .container {
        display: flex;
        width: 100%;
        margin: 1cm 0 2cm 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .border {
        border: solid 1px rgb(0, 0, 0);
    }

    .border-radius-derecho {
        border-top-right-radius: 1.5mm !important;
    }

    .border-radius-izquierdo {
        border-top-left-radius: 1.5mm !important;
    }

    .mt-0 {
        margin-top: 0 !important;
    }

    .mb-0 {
        margin-bottom: 0 !important;
    }

    .border-izquierdo {
        border-left: solid 1px rgb(0, 0, 0) !important;
    }

    .border-derecho {
        border-right: solid 1px rgb(0, 0, 0) !important;
    }


    .espacing5 {
        padding-top: 4% !important;
    }

    .espacing4 {
        padding-top: 8% !important;
    }

    .espacing3 {
        padding-top: 12% !important;
    }

    .espacing2 {
        padding-top: 16% !important;
    }

    .espacing1 {
        padding-top: 20% !important;
    }

    .espacing {
        padding-top: 0% !important;
    }

    .mt-5 {
        margin-top: 5mm;
    }
</style>